td {background: olive;}
td {color: white;}
td {border: 1px solid black;}

td {
    background: olive;
    color: white;
    border: 1px solid black;
}

p {color: green}
p {color: red}
  
div {
  width: 200px;
  margin: 10px;
  float: left;
}